<!doctype html>
<html>
<head>
	<title>{% block title %} Osio y Laborde {% endblock %}</title>
	<meta charset="utf-8" />
	<link href="imagenes/favicon.ico" rel="shortcut icon"  type="image/x-icon" />
	<meta name="description" content="">
	<meta name="author"   content="Diego Silva DCV diegosilvadcv.com.ar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="css/foundation/foundation.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	{% block css %} {% endblock %}
	
	<!-- Scripts -->
	<script src="js/jquery/jquery.js"></script>
	<script src="js/foundation/foundation.js"></script>
	<script>
  		$(document).foundation();
	</script>
	{% block js %} {% endblock %}

</head>

<body>
	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>