{% extends 'base.html' %}

{% block js %}
  <script>
    var socket;

    function init() {
      var host = "ws://127.0.0.1:3000"; // SET THIS TO YOUR SERVER
      try {
        socket = new WebSocket(host);
        log('WebSocket - status '+socket.readyState);
        socket.onopen    = function(msg) { 
          log("Welcome - status "+this.readyState); 
        };
        socket.onmessage = function(msg) { 
          log("Received: "+msg.data); 
        };
        socket.onclose   = function(msg) { 
          log("Disconnected - status "+this.readyState); 
        };
      }
      catch(ex){ 
        log(ex); 
      }
      $("msg").focus();
    }

    function send(){
      var txt,msg;
      txt = $("msg");
      msg = txt.value;
      if(!msg) { 
        alert("Message can not be empty"); 
        return; 
      }
      txt.value="";
      txt.focus();
      try { 
        socket.send(msg); 
        log('Sent: '+msg); 
      } catch(ex) { 
        log(ex); 
      }
    }
    function quit(){
      if (socket != null) {
        log("Goodbye!");
        socket.close();
        socket=null;
      }
    }

    function reconnect() {
      quit();
      init();
    }

    // Utilities
    function log(msg){ console.log(msg); }
    function onkey(event){ if(event.keyCode==13){ send(); } }
    init()
  </script>

{% endblock %}


{% block content %}

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">My Site</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="name"><a href="#"><i class="fa fa-bell bell"></i></a></li>
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>

{% endblock %}